<div class="socials">
  <!-- .socials__link can be moved to a seperate component with social as @Input [social]="location" [socialIcon]="faLocation"-->
  <div
    class="socials__link"
    [ngClass]="{ 'socials__link--not-available': !location }"
  >
    <fa-icon class="search-user__icon" [icon]="faLocation"></fa-icon>
    <span>{{ location ? location : "Not Available" }}</span>
  </div>
  <div
    class="socials__link"
    [ngClass]="{ 'socials__link--not-available': !xHandle }"
  >
    <fa-icon class="search-user__icon" [icon]="faTwitter"></fa-icon>
    <span>{{ xHandle ? xHandle : "Not Available" }}</span>
  </div>
  <div
    class="socials__link"
    [ngClass]="{ 'socials__link--not-available': !website }"
  >
    <fa-icon class="search-user__icon" [icon]="faWebsite"></fa-icon>
    <span>{{ website ? website : "Not Available" }}</span>
  </div>
  <div
    class="socials__link"
    [ngClass]="{ 'socials__link--not-available': !company }"
  >
    <fa-icon class="search-user__icon" [icon]="faCompany"></fa-icon>
    <span>{{ company ? company : "Not Available" }}</span>
  </div>
</div>
