:host {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: var(--component-color-secondary);
  transition: all 0.2s ease-in-out;

  @media (max-width: 375px) {
    padding: 0.5rem 1rem;
  }

  &__col-title {
    font-size: 0.8rem;
    color: var(--text-color);
  }

  &__col-value {
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--text-color);
  }
}
