.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--color-text-light);

  &__title {
    font-size: 2rem;
  }

  &__theme-switch {
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__theme-text {
    margin-right: 0.5rem;
    user-select: none;
  }
}

// responsive styles will be added later
