.user {
  padding: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--component-color);
  transition: all 0.2s ease-in-out;

  @media (max-width: 950px) {
    font-size: 1.1rem;
    padding: 1.75rem;
  }

  @media (max-width: 700px) {
    font-size: 1.1rem;
    padding: 1.25rem;
  }

  @media (max-width: 375px) {
    font-size: 0.9rem;
    padding: 1.5rem;
  }

  &__profile-image {
    width: 5rem;

    @media (max-width: 950px) {
      width: 8.5rem;

      img {
        width: 8.5rem;
      }
    }

    @media (max-width: 700px) {
      width: 6.5rem;

      img {
        width: 6.5rem;
      }
    }

    @media (max-width: 375px) {
      width: 5rem;

      img {
        width: 5rem;
      }
    }

    img {
      border-radius: 50%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 1200px) {
      gap: 1rem;
      justify-content: flex-start;
    }

    @media (max-width: 1200px) {
      gap: 1rem;
      justify-content: flex-start;
    }
  }

  &__identity {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      align-items: baseline;
      flex-grow: 1;
    }

    @media (max-width: 1200px) {
      flex-direction: row;
      gap: 2rem;
      justify-content: space-between;
      align-items: baseline;
      flex-grow: 1;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0;
    }
  }

  &__name {
    line-height: 0.5;
    color: var(--text-color);

    @media (max-width: 950px) {
      line-height: 1;
      font-size: 1.5rem;
    }

    @media (max-width: 700px) {
      font-size: 1.4rem;
    }

    @media (max-width: 375px) {
      font-size: 1.2rem;
    }
  }

  &__join-date {
    color: var(--color-text-normal-light);
  }

  &__username {
    color: var(--color-action-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bio {
    margin: 1rem 0;
    color: var(--text-color-secondary);

    &--no-bio {
      color: var(--text-color-secondary-unavailable);
    }
  }
}
