<div *ngIf="user" class="user">
  <div class="user__profile-image">
    <img [src]="user.avatar_url" alt="user profile picture" />
  </div>
  <div class="user__details">
    <div class="user__info">
      <h2 class="user__name">{{ user.name ? user.name : "no name" }}</h2>
      <p class="user__join-date">{{ user.created_at | date }}</p>
    </div>
    <a [href]="user.html_url" target="_blank" class="user__username"
      >&commat;{{ user.login }}</a
    >
    <p class="user__bio" [ngClass]="{ 'user__bio--no-bio': !user.bio }">
      {{ user.bio ? user.bio : "This profile has no bio" }}
    </p>
    <app-profile-stats
      [repos]="user.public_repos"
      [followers]="user.followers"
      [following]="user.following"
    ></app-profile-stats>
    <app-profile-socials
      [company]="user.company"
      [location]="user.location"
      [website]="user.blog"
      [xHandle]="user.twitter_username"
    ></app-profile-socials>
  </div>
</div>
