.search-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--component-color);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  @media (max-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 375px) {
    font-size: 0.9rem;
  }

  &__input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 85%;
  }

  &__input {
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 0.5rem;

    &::placeholder {
      color: var(--text-color);
    }

    @media (max-width: 700px) {
      font-size: 1rem;
      text-overflow: ellipsis;
    }

    @media (max-width: 375px) {
      font-size: 0.9rem;
    }
  }

  &__input-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__error-message {
    padding-bottom: 2px;
    font-size: 0.75rem;
    color: var(--color-text-error);
    white-space: nowrap;

    @media (max-width: 375px) {
      font-size: 0.65rem;
      padding-bottom: 0;
    }
  }

  &__submit {
    width: 5rem;
    align-self: stretch;
    border-radius: 0.5rem;
    color: var(--color-text-dark);
    background-color: var(--color-action-blue);
    border: 1px solid var(--color-action-blue);
    cursor: pointer;
    transition: all 0.25s ease-in;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 375px) {
      padding: 0.25rem 0.75rem;
    }
  }

  &__icon {
    color: var(--color-action-blue);

    @media (max-width: 700px) {
      font-size: 1.75rem;
    }
  }
}
