<form (ngSubmit)="onSearchUsername()" class="search-user">
  <div class="search-user__input-container">
    <fa-icon class="search-user__icon" [icon]="faMagnifyingGlass"></fa-icon>
    <input
      #usernameInput
      type="text"
      name="username"
      id="username"
      autocomplete="off"
      placeholder="Search GitHub username..."
      class="search-user__input"
    />
  </div>
  <fa-icon
    (click)="onClearUsername()"
    class="search-user__icon"
    [icon]="faX"
  ></fa-icon>
  <p *ngIf="requestFailed" class="search-user__error-message">
    {{ errorMessage }}
  </p>
  <button class="search-user__submit">Search</button>
</form>
