@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-action-blue: #0179fe;
  --color-text-light: #222731;
  --color-text-dark: #fefefe;
  --color-text-error: #ff0000;

  --color-accent-light: #f5f8fe;
  --color-bg-light: #fefefe;
  --color-text-unavailable-light: #a5b3cc;
  --color-text-normal-light: #4b6a9b;

  --color-accent-dark: #141d2f;
  --color-bg-dark: #1d2a47;
  --color-text-unavailable-dark: #344a71;
  --color-text-normal-dark: #fefefe;

  --component-color: var(--color-bg-light);
  --component-color-secondary: var(--color-accent-light);
  --text-color: var(--color-text-light);
  --text-color-secondary: var(--color-text-normal-light);
  --text-color-secondary-unavailable: var(--color-text-unavailable-light);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--color-accent-light);

  &[data-theme="dark"] {
    background-color: var(--color-accent-dark);
    --component-color: var(--color-bg-dark);
    --component-color-secondary: var(--color-accent-dark);
    --text-color: var(--color-text-dark);
    --text-color-secondary: var(--color-text-normal-dark);
    --text-color-secondary-unavailable: var(--color-text-unavailable-dark);
  }
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  display: block;
  width: 100%;
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
