@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-action-blue: #60abfe;

  --color-accent-light: #f5f8fe;
  --color-bg-light: #fefefe;
  --color-text-unavailable-light: #a5b3cc;
  --color-text-normal-light: #4b6a9b;

  --color-accent-dark: #141d2f;
  --color-bg-dark: #1d2a47;
  --color-icon-unavailable-dark: #344a71;
  --color-text-unavailable-dark: #8b91a0;
  --color-text-normal-dark: #fefefe;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
